/*Diseño del navegador del header y Navergador de la página web*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Ubuntu:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: none;
}

body {
    max-width: 100%;
    background-color: #fff;
}

a,
li {
    font-family: "Ubuntu", sans-serif;
    color: #fff;
}

.container-clock {
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.container-clock h1 {
    font-family: "Ubuntu";
    font-size: 100px;
    font-weight: 400;
}

.container-clock p {
    font-family: "Ubuntu";
    font-size: 35px;
    font-family: "Ubuntu", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1b396a;
    padding: 10px;
    font-family: "Ubuntu";
}

.logo-header {
    display: flex;
    align-items: center;
}

.logoTec {
    display: flex;
    align-items: center;
}

.logo-header h1 {
    font-family: "Ubuntu";
    padding-left: 320px;
    font-weight: 50;
    color: #fff;
}

.logo-header h1:hover {
    font-weight: 50;
    color: #ffc300;
}

.tecB {
    height: 50px;
}

.tecC {
    height: 50px;
    width: 55px;
}

.logoTec ul {
    display: flex;
    align-items: center;
}

.logoTec li {
    font-weight: 50;
    font-size: 15px;
    padding-right: 10px;
}

.logoTec a:hover {
    color: #ffc300;
}

.menu-icon img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon,
#check {
    display: none;
}

/*Estilos de cards*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card {
    width: 200px;
    height: 180px;
    border: 3px solid #191970;
    border-radius: 40px;
    margin: 20px;
    font-family: "Ubuntu";
    font-size: 20px;
}

.card:hover {
    background: #f1cd57;
    color: #191970;
    width: 200px;
    height: 180px;
    border: 3px solid #191970;
    border-radius: 40px;
    margin: 20px;
    font-family: "Ubuntu";
    font-size: 20px;
    transform: translateY(-3%);
}

.card img {
    padding-top: 10px;
    margin-left: 63px;
    width: 80px;
    height: 80px;
}

.card-title {
    display: flex;
    justify-content: center;
}

.card-text {
    padding: 15px;
    text-align: center;
    margin: 0 20px 15px 20px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /*top, rigth, bottom, left*/
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

footer {
    background: #1b396a;
    width: 100%;
    height: 360px;
    margin-top: 50px;
    color: #fff;
}

.datEsc {
    padding: 50px 150px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.redes img {
    padding-left: 15px;
    height: 25px;
    margin-bottom: -20px;
}

.datEsc li {
    font-size: 15px;
    padding: 3px;
}

.dat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dat li {
    font-size: 15px;
    text-align: center;
    padding: 0px;
}

/*Estilos para el tamaño de display 760px)*/
@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        width: 98%;
        height: 35px;
        font-family: "Ubuntu";
    }

    .logo-header {
        display: flex;
        align-items: center;
    }

    .logo-header h1 {
        font-size: 30px;
        font-family: "Ubuntu";
        font-weight: 50;
        padding-left: 15px;
        color: #fff;
    }

    .tecB {
        height: 40px;
    }

    .tecC {
        height: 40px;
        width: 45px;
    }

    .checkbtn {
        display: block;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 12px;
        right: 60px;
        cursor: pointer;
    }

    .logoTec ul {
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #1b396a;
        width: 100%;
        height: 100vh;
        right: 0;
    }

    .logoTec ul li {
        font-size: 25px;
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .logoTec ul li:last-child {
        background: none;
        padding: 1rem;
    }

    #check:checked~ul {
        left: 0;
        transition: all 0.15s;
    }

    /*Estilos cartas y reloj*/
    .container-clock h1 {
        font-family: "Ubuntu";
        font-size: 80px;
        font-weight: 400;
    }

    .container-clock p {
        font-family: "Ubuntu";
        font-size: 40px;
        font-family: "Ubuntu", sans-serif;
        padding-bottom: 25px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .card {
        width: 140px;
        height: 130px;
        border: 3px solid #191970;
        border-radius: 40px;
        margin: 10px;
        font-family: "Ubuntu";
        font-size: 15px;
    }

    .card:hover {
        background: #f1cd57;
        color: #191970;
        width: 140px;
        height: 130px;
        border: 3px solid #191970;
        border-radius: 40px;
        margin: 10px;
        font-family: "Ubuntu";
        font-size: 15px;
        transform: translateY(-3%);
    }

    .card img {
        padding-top: 10px;
        margin-left: 30%;
        width: 60px;
        height: 60px;
    }

    .container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    /*estilos footer*/
    footer {
        display: block;
        background: #1b396a;
        width: 100%;
        height: 360px;
        margin-top: 50px;
        color: #fff;
    }

    .redes {
        padding-top: 50px;
    }

    .redes img {
        padding-left: 20px;
        height: 25px;
        margin-bottom: -20px;
    }

    .datEsc li {
        text-align: center;
        font-size: 15px;
        padding: 3px;
    }
}

/*---------------------------------------------------*/
/*Estilos para Celular*/
@media (max-width: 767px) and (min-width: 320px) {
    header {
        display: flex;
        justify-content: space-between;
        width: 540px;
        height: 40px;
        font-family: "Ubuntu";
    }

    .logo-header {
        display: flex;
        align-items: center;
    }

    .logo-header h1 {
        font-size: 20px;
        font-family: "Ubuntu";
        font-weight: 50;
        padding-left: 15px;
        color: #fff;
    }

    .tecB {
        height: 40px;
    }

    .tecC {
        height: 40px;
        width: 45px;
    }

    .checkbtn {
        display: flex;
    }

    .menu-icon {
        display: block;
        padding-right: 15px;
        top: 14px;
        right: 80px;
        cursor: pointer;
    }

    .logoTec ul {
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #1b396a;
        width: 100%;
        height: 100vh;
        right: 0;
    }

    .logoTec ul li {
        font-size: 25px;
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .logoTec ul li:last-child {
        background: none;
        padding: 1rem;
    }

    #check:checked~ul {
        left: 0;
        transition: all 0.15s;
    }
}